<!-- Template for the greeting directive -->
<div>
    <div class="form">
        <div class="field">
            <label>Greeting</label>
            <input type="text" ng-model="message.greeting">
        </div>
        <div class="field">
            <label>Salutation</label>
            <br/>
            <input type="radio" value="Mr." ng-model="message.salutation">Mr.
            <br/>
            <input type="radio" value="Ms." ng-model="message.salutation">Ms.
            <br/>
        </div>
        <div class="field">
            <label>Name</label>
            <input type="text" ng-model="message.name">
        </div>
    </div>
    <div class="message">
        <span class="greeting">{{message.greeting}}</span>,
        <span class="salutation">{{message.salutation}}</span>
        <span class="name">{{message.name}}</span>!
    </div>
</div>